# TextApp Konfiguration
# Generiert mit TextApp Konfigurator

MODE=text
TEXT=Teil3 GmbH ||br|online 3D-Drucken |br|mach dein Teil! |br||pg|Alles wird gut!|pg|und alle guten dinge sind 3|pg|abcdefghijklm|br|nopqrstuvwxyz|br|ABCDEFGHIJKLM|br|NOPQRSTUVWXYZ|br|äöüÄÖÜàâéèêëîïùçòì|br|0123456789|br|!?"'`´^¨~/*-_=+%&|br|@€$£#§|¬¦,.;:<>()[]{}
COLOR=0xFFA0
BG_COLOR=0x5A3F
FONT=FreeSansBold18pt
ALIGN=center
SPEED=4020
